.home_page {
	display: flex;
	flex-direction: column;
}
.header_frame {
	position: relative;
	margin-top: 47px;
	width: 100%;
	height: auto;

	display: flex;
	justify-content: center;
}

 .container {
	flex-direction: row;
	
}
 .container .header_left {
	padding: 16px;
	position: relative;
	width: 875px;
	height: 508px;

	background-color: #0053f6;
	background-image: url("../images/dars3/icons/event_bg.svg");
	border-radius: 5px;
}
 .header_left .header_content {
	margin-top: 90px;
	display: flex;
	flex-direction: column;
}
 .header_content div {
	width: 104px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 6px;
background: var(--Bg-2, #F5C34B);



font-family: "Jost";
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 22px; 
color: var(--Color-Text-Dark, #041E42);

}

 .header_content span {

	margin-top: 10px;
	width: 428px;

color: var(--Bg-White, #FFF);
font-family:"Jost";
font-size: 60px;
font-style: normal;
font-weight: 400;
line-height: 70px;
}
 .header_content p {
margin-top: 10px;
font-family: "Jost";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
color: var(--Bg-White, #FFF);

}
.header_content a {
margin-top: 20px;
width: 140px;
height: 52px;

display: flex;
align-items: center;
justify-content: center;

background: #FFF;
border-radius: 6px;

font-family:"Jost";
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px; 

 color:  #041E42;
}
 .header_content img {
	position: absolute;
	right: 10px;

}
 .content .header_right {
	position: relative;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

 .header_right .header_box {
	width: 422px;
	height: 240px;

	display: flex;
	flex-direction: row;
	background: #F2F2F2;
	/* border-radius: 5px; */

}

.header_right .box_left {
	margin-left: 30px;
	width: 50%;

	display: flex;
	flex-direction: column;
	justify-content: center;
 }
 .header_right .box_left  { 
	 margin-left: 30px; 
	width: 50%;

	display: flex;
	flex-direction: column;
	justify-content: center;
} 

 .box_left span {
	font-family: "jost";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	color: #0053f6;
}
.box_left p {
	margin: 10px 0;
	font-family: "Jost";
	font-style: normal;
	font-weight: 500;
	font-size: 26px;
	line-height: 38px;
	color:#041E42;
}
 .box_left a {
font-family: "Jost";
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;

color:#041E42;
}
 .box_left .hover_border {
	margin: 3px;
	width: 32px;
	height: 2px;

background: #041E42;
}

 .box_right .box_right {
	width: 50px;
}
.box_right img {
	width: 100%;
	height: 100%;
}

